# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin/*

# Doc
doc/*

# PyC files
**/*.pyc

# Project files
*.project

# Other dirs
fe/

# Docker files
config/path_finder/Dockerfile
config/docker-compose.*

# Data and other stuff

data/
times/results/
times/stats/